<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            <h1 style="color: #b80600;">
                <span style="color: #00A8F9">
                    <%= accountToDisable.sAMAccountName %>
                </span> has been disabled by
                <%= accountToDisable.author.cn %>
            </h1>
        </div>
        <hr>
        <div>
            <div>
                <h2>
                    <u>Full Name:</u>
                    <%= accountToDisable.cn %>
                </h2>
            </div>
            <div>
                <h2>
                    <u>Job Title:</u>
                    <%= accountToDisable.description %>
                </h2>
            </div>
            <div>
                <h2>
                    <u>Email Address:</u>
                    <%= accountToDisable.mail %>
                </h2>
            </div>
            <div>
                <u>
                    <h2>Email Groups:</h2>
                </u>
                <ul>
                    <% for (group of accountToDisable.groups) { %>
                        <li>
                            <%= group.cn %>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>