<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            <h1 style="color: #1bc44b;">An account has successfully been created for <span style="color: #00A8F9">
                    <%= newUserFullDetails.commonName %>
                </span> - Created by
                <%= newUserFullDetails.author.cn %>
            </h1>
        </div>
        <hr>
        <div>
            <div>
                <h2>
                    <u>Department:</u>
                    <%= newUserFullDetails.office %>
                </h2>
            </div>
            <div>
                <h2>
                    <u>Job Title:</u>
                    <%= newUserFullDetails.description %>
                </h2>
            </div>
            <div>
                <h2>
                    <u>Email Address:</u>
                    <%= newUserFullDetails.email %>
                </h2>
            </div>
            <div>
                <u>
                    <h2>Email Groups:</h2>
                </u>
                <ul>
                    <% for (group of newUserFullDetails.groups) { %>
                        <li>
                            <%= group %>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>


<!-- const newUserFullDetails = {
        firstName,
        lastName,
        email,
        office,
        jobTitle,
        distinguishedName,
        commonName,
        groups,
        description
    }; -->